*.iml
*.class
*.log
*.iws
*.ipr
*.ids
*.sublime-workspace
*.sublime-project

.gradle
.idea
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

local.properties
GeneratedPluginRegistrant.java

/flutter/ephemeral/
google-services.json
